@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --azulclaro: #D3E0DA;
    --azulfundo: #97B8C3;
    --azulmedio: #5C8998;
    --azulescuro: #305E6E;
    --azulmaisescuro: #062E3B;

    --fontetitulo: 'Bebas Neue', sans-serif;
    --fonteandroid: 'android', serif;
}

.externo::after {
    content: '\00A0\1F517';
}

.video {
    background-color: var(--azulmaisescuro);
    margin: 0px -20px 25px -20px;
    padding: 30px;
}

.video > iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    border: none;
}

body {
    background-color: #dfdfcd;
}

header {
    padding-top: 20px;
    min-height: 145px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--azulescuro) 55%, var(--azulmaisescuro));
}

header > h1 {
    color: white;
    font:normal 3em var(--fontetitulo);
    text-shadow: 1px 2px 2px #000000;
}

header > p {
    padding-bottom: 20px;
    padding-top: 2px;
    max-width: 300px;
    margin: auto;
    color: var(--azulclaro);
    font-size: 1.1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.503);
}

nav {
    text-align: center;
    background-color: var(--azulmaisescuro);
    padding: 10px;
    box-shadow: -3px 4px 4px 0px #00000046;
}

nav > a {
    text-decoration: none;
    color: var(--azulclaro);
    padding: 0px 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--azulescuro);
    padding: 16px;
    
    transition: 0.3s;
    border-radius: 30px;
}

nav > a:active {
    background-image: radial-gradient( var(--azulescuro) 55%, var(--azulmaisescuro));
    border: 1px dotted #ffffff;
}

main {
    background-color: white;
    max-width: 900px;
    padding: 20px;
    margin: 0px auto 30px auto;
    box-shadow: 0px 0px 4px 1px #00000046;
    border-radius: 0px 0px 30px 30px;
}

main h1 {
    font-weight: normal;
    font-size: 1.6em;
    padding-top: 20px;
    font-family: var(--fonteandroid);
    color: var(--azulmaisescuro);
}

main h2 {
    font-weight: normal;
    font-size: 1.4em;
    font-family: var(--fonteandroid);
    color: var(--azulmaisescuro);
    background-image: linear-gradient(to right, var(--azulfundo), transparent 70%);
    padding-left: 15px;
    border-radius: 15px;
}

main img {
    display: block;
    margin: auto;
    max-width: 100%;
}

main p {
    text-indent: 20px;
    line-height: 1.3em;
    text-align: justify;
    margin: 20px 0px;
}

main strong {
    color: var(--azulmaisescuro);
    padding: 3px;
}

main a {
    text-decoration: none;
    color: var(--azulmaisescuro);
    font-weight: bold;
    padding: 2px 4px;
}

main a:hover {
    text-decoration: underline;
    color: var(--azulmedio);
}


main aside {
    background-color: var(--azulfundo);
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.508);
}

main aside > h3 {
    color: white;
    background-color: var(--azulmaisescuro);
    font-size: 1.3em;
    text-indent: 30px;
    padding: 5px;
    margin: -5px -15px;
    border-radius: 20px 20px 0px 0px;
}

main aside ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px 20px;
    columns: 2;

}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #989898;
}

footer a:hover {
    text-decoration: underline;
}