@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

body {
    background-color: black;
}

img {
    
    width: 100vw;
}

a {
    display: block;

    background-color: darkred;
    color: white;

    text-decoration: none;
    text-align: center;
    padding: 20px;

    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    background-color: red;
}