@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

@font-face {
    font-family: chineserocks;
    src: url(fontes/chinese_rocks/chinese\ rocks\ rg.otf);
}

:root {
    --reddeadredemption: 'chineserocks';
    --handwritting: "Lavishly Yours", serif;
}

*{
    margin: 0;
    padding: 0;
}


header {
    background-color: red;
    
    background-image: url(imagens/header.jpg);

    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;

    

    
}

header > h1 {
    font-family: chineserocks;
    font-size: 7vw;

    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 300px;

    background-color: #fb00006e;

    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.485);
    box-shadow: inset 0px 0px 20px 0px #00000087;
}


.quote {
    font-family: var(--reddeadredemption);
    font-size: 1.5em;
    max-width: 800px;
    margin-left: 5%;
    margin-right: 5%;
    
    padding-top: 70px;
    
    padding-bottom: 40px;
}

main {
    background-color: white;

    margin: auto;
    
    min-width: 200px;
    
}



.info h2 {
    font-family: var(--reddeadredemption);
    font-size: 2.2em;

    color: red;
    text-shadow: 1px 1px 1px black;
    margin-left: 5%;

    padding-top: 30px;
}

.info p {
    text-indent: 30px;
    text-align: justify;
    font-size: 1.4em;
    

    max-width: 700px;
    margin: 30px 5% 30px 5%;
    padding: 10px 0;
    
}

.fundoimg {
    background-color: black;
    padding: 20px;
}


.retrato {
    display: block;
    width: 90%;
    

    margin: 50px auto 40px auto;
 
}

#imagemgangue {
    background-image: url(imagens/imagemgangue.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

    margin-top: 150px;
    width: 100%;
    height: 700px;
}

#corfundo {
   
    width: 100%;
    height: 100%;
}

aside > h2 {
    text-align: center;
    text-shadow: 2px 1px 1px black;
    

    font-size: 2.6em;
    font-family: var(--reddeadredemption);
    color: white;

    padding-top: 60px;
}

aside > p {
    color: white;
    

    text-shadow: 1px 1px 1px black;
    text-indent: 30px;
    text-align: justify;

    font-size: 1.4em;

    max-width: 500px;
    margin: 20px auto 30px auto;
    padding: 0px 20px;
    
}