/* Todas as midias */


/*Impressão*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
        
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: 1px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#pc {display: none;}
    img#print {display: block;}
    img#tab {display: none;}
    img#tv {display: none;}
}

/*Tablet*/
@media screen and (min-width: 768px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    img#phone {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tab {display: block;}
    img#tv {display: none;}
}

/*Desktops*/
@media screen and (min-width: 992px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
    img#tab {display: none;}
    img#tv {display: none;}
}

/*Telas Maiores*/
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tab {display: none;}
    img#tv {display: block;}
}